section#carousel
	.content
		.prawn
			.item1
				.row
					.col-lg-6.col-xs-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores molestias iusto ipsa dolorum animi aspernatur quod repellat ducimus error eveniet.
						span.tips Buy Now RS 250 /-
					.col-lg-6.col-xs-12
						img(src="assets/1.jpg", alt="")
			.item2
				.row
					.col-lg-6.col-xs-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores molestias iusto ipsa dolorum animi aspernatur quod repellat ducimus error eveniet.
					.col-lg-6.col-xs-12
						img(src="assets/3.jpg", alt="")
			.item3
				.row
					.col-lg-6.col-xs-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores molestias iusto ipsa dolorum animi aspernatur quod repellat ducimus error eveniet.
					.col-lg-6.col-xs-12
						img(src="assets/1.jpg", alt="")
			.item4
				.row
					.col-lg-6.col-xs-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores molestias iusto ipsa dolorum animi aspernatur quod repellat ducimus error eveniet.
					.col-lg-6.col-xs-12
						img(src="assets/3.jpg", alt="")