section(id="header")
	.jumbotron
		.content
			.row.title
				.col-lg-12
					span Happy to Serve
					a(href="tel:+919763418965") +91 22 6788 900
			.row
				.col-lg-4
					span Fresh Prawns
				.col-lg-8.alignright
					ul
						li: a(href="") Orders
						li: a(href="") Offers
						li: a(href="") Quick Book