section#intro
	.content
		.row
			.col-lg-6
				p Serving your favourite prawns only in
				//- span.tips Deliveries In
				span.tips Mumbai
				span.tips Thane
				span.tips Navi Mumbai
			.col-lg-6.alignright
				p(style="margin-bottom:0px;") Delivery slots (saturday & Sunday)
				h2 
					| 8 am - 11 am
					| &
					| 4 pm - 8 pm
		a(href="mailto:demo@demo.com", class="quick") + Quick Order 

